[submodule "glfw"]
	path = frame_gl/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glew"]
	path = frame_gl/external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "frame"]
	path = frame_gl/external/frame
	url = https://github.com/stett/frame.git
[submodule "frame_gl/external/gli"]
	path = frame_gl/external/gli
	url = https://github.com/g-truc/gli.git
[submodule "frame_gl/external/libpng"]
	path = frame_gl/external/libpng
	url = https://github.com/glennrp/libpng
[submodule "frame_gl/external/zlib"]
	path = frame_gl/external/zlib
	url = https://github.com/madler/zlib.git
